<%= page.content.html_safe %>
<% if page.images.any? %>
    <ul class="slideshow" width="600" height="400">
      <% page.images.each do |image| %>
        <li>
          <a class="slideshow-image" href="<%= image.asset.url %>"><%= image_tag image.asset.url(:large) %></a>
          <% if image.title? %>
              <div class="slideshow-caption">
                <h4><%= image.title %></h4>
                <p><%= image.content %></p>
              </div>
          <% end %>
        </li>
      <% end %>
    </ul>
<% end %>

<ul id="page-information">
    <%= render page.informations %>
</ul>

<ul id="page-links">
    <%= render page.links %>
</ul>